.menuicn {
    cursor: pointer;
}

.main::-webkit-scrollbar-thumb {
    background-image:
        linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}

.main::-webkit-scrollbar {
    width: 5px;
}

.main::-webkit-scrollbar-track {
    background-color: #9e9e9eb2;
}

.nav {
    height: 100vh;
    width: 15em;
    background-color: #1E3D76;
    left: 0;
    position: fixed;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 15px 0 15px;
}

.navcontainer {
    height: 100vh;
    width: 15em;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.navclose {
    width: 80px;
}

.nav-option {
    width: 110vh;
    height: 60px;
    display: flex;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

.nav-option .nav-link:hover {
    color: #FF9544 !important;
}

.nav-option:hover {
    color: #FF9544 !important;
    background-color: #1a4699;
    border-left: 5px solid #FF9544;
    cursor: pointer;
}

.nav-img {
    height: 30px;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.active {
    border-left: 5px solid #ffffff;
    background-color: var(--Border-color);
    color: white;
    cursor: pointer;
}

/* .td-text {
    font-family: 'Asap', sans-serif;
    color: #1E3D76;
} */

.quoteTable table tbody {
    font-family: 'Asap', sans-serif;
}

.tb-header {
    top: 11.25vh;
}

.quoteTable table th {
    top: 12vh;
    background-color: #1e3d76 !important;;
    color: white !important;;
}

.quoteTable {
    margin-top: -90vh;
    margin-left: 20vw;
    width: 75vw;

}

.petCol div:first-child {
    text-align: right;
}

.quoteTable table {
    text-align: center;
    line-height: 1.7;
}

.action {
    width: 50px;
    margin-left: 20px;
    display: inline-block;
}

.actionBtns {
    margin-top: 10px;
    background-color: #BFE7FF;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: .3s;
}

.actionBtns:hover {
    background-color: #96d1f6;
}
.action button:last-child{
    margin-bottom: 10px;
}
#wabtn {
    background-color: #00C307;
    color: white;
    transition: .3s;
}
#watbtn:hover {
    background-color: #214522;
}

.filterMonth select{
    border: 3px solid #1e3d76;
    border-radius: 25px;
    padding: 5px;
    color: #1a4699;
}

#submitFilter {
    background-color: #1a4699;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    width: 110px;
    transition: .2s;

}

#submitFilter:hover {
    background-color: #1E53B3;
}

.filterMonth-text {
    color:#1a4699
}