@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,700;1,500;1,600&family=Montserrat:wght@700&family=Nunito:ital,wght@0,400;0,700;1,800&display=swap');

.bgclass {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
    right: 0;
    bottom: 0;
}

.gradient {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(184, 229, 255, 1) 100%);
    width: 100%;
    height: 100%;
    min-height: 600px;
    object-fit: fill;
    position: relative;
    z-index: -3;
}

.header1 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #1E53B3;
    letter-spacing: 0.2em;
    margin-top: 3vh
}

.header2 {
    font-family: 'Nunito';
    font-weight: bolder;
    letter-spacing: 0.2em;
    color: #387FFF;
    margin-left: 15%;
}

.header3 {
    font-family: 'Nunito';
    font-weight: bolder;
    letter-spacing: 0.2em;
    color: #1E53B3;
}

hr.rounded {
    border-top: 0.1em solid #338762;
    border-radius: 5px;
    opacity: 100%;
}

.primaryBtn {
    padding: 6px 50px 6px 50px;
    font-family: 'Nunito', sans-serif;
}

.para,
.para-it {
    color: #338762;
    font-family: 'Asap', sans-serif;
    font-size: medium;
    font-weight: 500;
}


.para-it {
    font-style: italic;
    font-weight: bold;
}


/* Navbar */
.navbar {
    background: #FF9544;
    box-shadow: 8px 0 8px 0 #000000cc;

}

.req-text {
    font-family: 'Asap', sans-serif;
    font-weight: 600;

}

.nav-text {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.nav-link {
    color: white !important;

}

.nav-link:hover {
    /* color: #1E53B3 !important; */
    color: #338762 !important;

}

.navbar .navbar-nav .nav-link {
    position: relative;
}


.navbar .navbar-nav .nav-link:last-child::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #1E53B3;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
    border-radius: 25px;
}

.navbar .navbar-nav .nav-link:hover::after {
    width: 80%;
    color: #1E53B3;
}

.nav-link img:hover {
    filter: grayscale(70%);
}


.req-text,
.nav-text {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    font-size: larger;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}

.gradient2 {
    /* background: linear-gradient(90deg, transparent 0%, #52ffb2 100%); */
    background: linear-gradient(90deg, #6da9fa, transparent) #52ffb2;
    z-index: -4;
    padding: 10px 50px;
    transition: all 1s ease;
}

.gradient2:hover {
    /* background: linear-gradient(90deg, #52ffb2, transparent) #6da9fa; */
    background-color: #6da9fa;
    color: white;
}

/* 
.primaryBtn1 {
    padding: 10px 50px ;
    font-family: 'Nunito', sans-serif;
} */

.main-logo {
    left: 0%;
    top: 0;
    margin-left: 10px !important;
}

.con1 {
    padding-left: 90px;
}

.text2 {
    color: red;
}

/*  */


/* Footer */
/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: #FF9544;
    color: white;
    text-align: center;
 } */

/* .footer-logo {
    left: 40%;
    bottom: 10px;
} */

.footer-logo {
    left: 46.2%;
    bottom: 125px;
}

#footer {
    position: relative;
    height: 200px;
    display: block;
    width: 100%;
    background: #FF9544;
    bottom: -100px;
    box-shadow: 8px 0 8px 0 #000000cc;
}

.row {
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}

.col-sm-4 {
    padding-top: 100px;
}

.circle {
    left: 45.95%;
    height: 100px;
    width: 100px;
    background-color: #FF9544;
    border-radius: 50%;
    bottom: 155px;
}

.footer-text {
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.circle-icon {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}

.circle-icon {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}

#circles.col {
    margin-right: -50px;
}

/*  */

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6da9fa;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1E53B3;
}


/*home*/
.grad1 {
    min-height: 100%;
    max-width: 100%;
    margin: 0%;
    background-image: linear-gradient(to right, rgb(255, 106, 0), rgb(240, 219, 197));
}



.font1 {
    font-family: 'Nunito', sans-serif;
    color: #1E53B3;
    text-align: left;
}

.font2 {
    font-family: 'Nunito', sans-serif;
    color: #424142;
    text-align: left;
}

.text3 {
    font-family: 'Asap', sans-serif;
    color: black;
    text-align: left;
}

rect {
    width: 100%;
    height: 100%;
    fill: #1E53B3;
}

.text3 {
    font-family: 'Asap', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.header4 {
    font-size: 3em;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.2em;
}


.errScreen_wrapper,
.errScreen_wrapper .shadow {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.2s ease;

}

.errScreen_wrapper {
    position: fixed;
    visibility: hidden;

}

.errScreen_wrapper .shadow {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    opacity: 0;

}

.errScreen_wrapper .err_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -800px);
    background-color: #FF9544;
    padding: 50px;
    /* display: flex; */
    align-items: center;
    border-radius: 20px;
    transition: 0.5s ease;
    z-index: 2;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: large;

}

.errScreen_wrapper.active {
    visibility: visible;
}

.errScreen_wrapper.active .shadow {
    opacity: 1;
}

.errScreen_wrapper.active .err_wrap {
    transform: translate(-50%, -50%);
}

/* dashboard */

.regular {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-color: #1E53B3;
    padding-top: 15%;
    transform: translate(15%, 0%);
}

.regularcontainer {
    padding-top: 10%;
}

/*.regularcol {
    max-width: 400px;
    position: relative;
    margin: 0px;
    padding: 0px;
}*/

.regular img {
    height: 200px;
    width: 200px;
}

.conservices {
    padding-top: 5px;
}


.inboxicon {
    font-size: 30px;
    color: #1E53B3;
    padding-left: 8px;
}

.inboxicon:hover {
    filter: grayscale(70%);
}

/* logos */
.inboxbg {
    color: #1E53B3;
}

.inboxbell {
    color: #FF9544;
    font-size: 20px;
}

.inboxwhole {
    font-size: 18px;
    padding-left: 8px;
}

.inboxwhole:hover {
    filter: grayscale(70%);
}

.notification {
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification .badge {
    position: absolute;
    top: -8px;
    right: -5px;
    padding: 4px 7px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.faqicon {
    font-size: 35px;
    color: #1E53B3;
    padding-left: 8px;
}

.faqicon:hover {
    filter: grayscale(70%);
}

.profileicon {
    font-size: 35px;
    color: #1E53B3;
}

.profileicon:hover {
    filter: grayscale(70%);
}

.dashb {
    margin-top: -95vh;
    margin-left: 25vw;
    width: 70vw;
}

/* about */
.font18 {
    font-family: 'Nunito', sans-serif;
    color: #1E53B3;
    font-size: 5em;
    font-weight: bolder;
    padding-bottom: 5px;
}


.aboutcontent {
    padding-top: 2%;
}

img.two {
    width: 80%;
    height: 70%;
}

img.four {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.font1 {
    font-family: 'Nunito', sans-serif;
    color: #1E53B3;
    text-align: left;
}

.text4 {
    font-family: 'Asap', sans-serif;
    color: #133470;
    text-align: left;
}

.font5 {
    font-style: italic;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #1c4a36;
}

.cpcn {
    max-width: 90%;
}

.cp {
    border-radius: 5%;
    max-width: 50%;
}

.font20 {
    font-family: 'Nunito', sans-serif;
    color: #1E53B3;
    text-align: right;
}

.text41 {
    font-family: 'Asap', sans-serif;
    color: #133470;
    text-align: right;
}

.cn1 {
    background-color: #338762;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0%;
    max-width: 70%;
    align-items: center;
    outline-style: double;
    outline-color: #1a4699;
    outline-width: 5px;
}

.font51 {
    font-style: italic;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
}

.ww {
    border: 1px solid #1c4a36;
    border-radius: 5px;
    background-color: rgb(236, 250, 255);
}

.cx {
    border: 1px solid #1c4a36;
    border-radius: 5px;
    background-color: rgb(255, 236, 236);
}

.mvvheader {
    font-family: 'Nunito', sans-serif;
    color: #1E53B3;
    font-style: italic;
    text-align: center;
}

.mvvpara {
    font-family: 'Asap', sans-serif;
    color: #133470;
    text-align: center;
}

.mvvcon {
    background-color: #338762;
    border-radius: 5px;
    padding: 10px;
}

.mvvheader2 {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    text-align: center;
}


.font6 {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #338762;
}

.text6 {
    font-family: 'Asap', sans-serif;
    color: #1E53B3;
    text-align: left;
    font-size: medium;
}

.text60 {
    font-family: 'Asap', sans-serif;
    color: #1E53B3;
    text-align: center;
    font-size: medium;
}

.text16 {
    font-family: 'Asap', sans-serif;
    color: #1E53B3;
    text-align: center;
    font-size: medium;
}

.text61 {
    font-family: 'Asap', sans-serif;
    color: #1E53B3;
    text-align: left;
    font-size: medium;
}



.services {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: #338762;
    padding-top: 30%;
    transform: translate(15%, 0%);
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 2em;
    font-weight: bolder;
}

.servicescontainer {
    padding-top: 10%;
}

.col8 {
    padding-top: 0%;
}

.col18 {
    padding-top: 5px;
    background-color: #ffb85b;
    width: max-content;
}

.col16 {
    border-radius: 5px;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.avatar {
    width: 12%;
    height: 12%;
    border-radius: 50%;
}

.rm {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.rm:hover {
    color: #133470;
}