*,
*::before,
*::after {
    box-sizing: border-box;
}

/* body {
    text-align: center;
} */

/* Global Stylings */
label {
    /* display: block; */
    margin-bottom: 0.5rem;
}

input {
    /* display: block; */
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 25px;
}

.width-50 {
    width: 50%;
}

.ml-auto {
    margin-left: auto;
}

.text-center {
    text-align: center;
}

/* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    width: 650px;
    justify-content: space-between;
    counter-reset: step;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 300px;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.progress {
    /* background-color: var(--primary-color); */
    background-color: #FF9544;
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    bottom: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active {
    background-color: #FF9544;
    color: white;
}

/* Form */
/* .form {
    width: clamp(800px, 30%, 430px);
    margin: 0 auto;
    padding: 1.5rem;
} */

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;

}

.form-step-active {
    display: block;
}

.input-group {
    margin: 2rem 0;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.full-bleed {
    box-shadow: 0 0 0 100vmax #87f8d2cc;
    clip-path: inset(0 -100vmax);
}

.inverse {
    background-color: #87f8d2cc;
}

#form {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-top: 1%;
    padding: 40px;
}

.serviceQty {
    opacity: 0;
    transition: .15s ease-in;
}

.tick {
    display: flex;
    align-items: center;
}

.tick .para {
    margin-top: 5px;
}

#tickSI,
#tickRI {
    width: 25px;
}

/* .petInfo label {
    text-align:left !important
} */

.pickUpTimings-content hr {
    height: 1px;
    background-color: darkgreen;
    border: none;
    margin-top: 30px
}

/* Button */
.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.btns-group .btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    /* background-color: var(--primary-color); */
    color: #FF9544;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
}

.btns-group .btn:hover {
   color: black;
}

.para {
    font-style: italic;
}

.petBtn button,
.petBtn p {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;

}

.endScreen_wrapper,
.endScreen_wrapper .shadow {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.endScreen_wrapper {
    position: fixed;
    visibility: hidden;
}

.endScreen_wrapper .shadow {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    transition: 0.2s ease;
    opacity: 0;
}

.endScreen_wrapper .message_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -800px);
    background-color: white;
    padding: 50px;
    /* display: flex; */
    align-items: center;
    border-radius: 20px;
    transition: 0.5s ease;
    z-index: 2;
    color: green;
    font-family: 'Nunito', sans-serif;

}

.endScreen_wrapper .messageIcon {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: #FF9544;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
}

.endScreen_wrapper.active {
    visibility: visible;
}

.endScreen_wrapper.active .shadow {
    opacity: 1;
}

.endScreen_wrapper.active .message_wrap {
    transform: translate(-50%, -50%);
}

/* toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 0 5px #FF9544;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FF9544;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  /* input:focus + .slider {
    box-shadow: 0 0 5px #FF9544;
  } */
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toggletext {
    color: #338762;
    font-size: 20px;
  }

  /* .secondpickup {
    display: block;
} */

.twopickups {
    display: none;
}

.filterMonth select{
    border: 3px solid #338762;
    border-radius: 25px;
    padding: 5px;
    color: #338762;
}

.filterMonth {
    display: none;
}

.pickupday {
    display: none;
}
/* .pickUpTimings-content div:nth-child(n+4):nth-child(-n+5){
    display: none;
} */